
<div class="container-fluid">
	<div class="row content_box content_box_checklist">

		<div class="header_bottom_part">

			<div ng-include src="mainmenu"></div>
		</div> 

		<div class="checklist_cont_feedback_wrap">
			<div class="col-md-12 checklist_cont3">
				<div class="checklist_cont3_left"><p>REPORT</p></div>
				<div class="checklist_cont3_right">
					<ul>
						<li>
							<p>{{pageContent.pagetitle}}</p>
						</li>
					</ul>
					<div class="textarea repot_tmplte" ng-show="pageContent.altPage == 'report_template'">
						<div ng-include src="reportTemplate"></div>
					</div>
					<!-- <div class="textarea repot_tmplte" ng-show ="pageContent.altPage == 'freetext_report'">
						<textarea class="freetext"></textarea>
						
					</div> -->

					<div class="feedback_bottom_panel ">
						<div class="signin" ng-click="generateTemplate()" ng-show="pageContent.altPage == 'report_template'">SUBMIT</div>
						
						<!-- <div class="signin" ng-show="pageContent.altPage == 'freetext_report'">SUBMIT</div> -->
					</div>
				</div>
			</div>

		</div>
		


	</div><!--row ends-->
</div><!--container ends-->
		
