
<h4>Broken Glass – Shower Base</h4>
<h4>Claimed Incident:</h4>
Insured has advised the shower base has cracked.
</br>
<h4>Builders Assessment / Cause or Circumstances:</h4>
Inspection completed by Mr. Mukla.C in the presence of 
<input type="text">
<h4>Relationship:</h4>
<select>
	<option value="1">The insured owner</option>
	<option value="2">The real estate agent</option>
	<option value="3">The tanent</option>
	<option value="4">Family friend</option>
	<option value="5">A relative of the insured</option>
</select>
other: <input type="text">

<p>We were directed to the area where the claimed damage had occurred.  Inspection of the property has revealed damage to the</p>

<select>
	<option value="1">shower base.</option>
	<option value="1">floor surrounding the shower recess</option>
	<option value="1">shower base and wall tiles</option>
	<option value="1">[other – Textbox].</option>

</select>
other: <input type="text">

</br></br>
Condition: 
</br>
<select>
	<option value="1">Inspection of the fractured shower base revealed the overall condition of the shower recess to be well maintained with no obvious general wear and tear/maintenance issues to report.</option>
	<option value="1">Inspection of the fractured shower base revealed the overall condition of the shower recess to be in poor condition and suffering from deterioration due to general wear and tear.</option>
	<option value="1">Inspection of the fracture shower base revealed the crack appears to have been present for an extended period of time and allowing water to leak into the sub-floor over.</option>
	<option value="1">Inspection of the fractured shower base revealed the fracture is consistent with unintentional impact by the insured which has resulted in the fracture to the base.</option>
	<option value="1">Inspection of the fractured shower base revealed [Textbox.].</option>
</select>

</br></br>
Fracture: 
<select>
	<option value="1">The fracture to the shower base appears to extend through its entire thickness.</option>
	<option value="1">The fracture to the shower base does not appear to extend through its entire thickness.</option>

</select>

</br></br>

Contents: 
<select>
	<option value="1">No contents were damaged as a result of the claimed event</option>
	<option value="2">Contents have been damaged as a result of the claimed event</option>
</select>
</br></br>
A makesafe has been carried out by Power Partners to temporarily secure the property. (Related to checklist – was a makesafe completed Y/N).

</br></br>
The insured’s boundary fence was damaged during the claimed event. A cost has been provided to repair the boundary fence. Costs provided are 50% half share of the boundary fence and this component of the claim is recommended for cash settlement. (Related to neighbouring fence damaged in checklist) 

</br>
<h4>Maintanance</h4>
The insured will be responsible for carrying out necessary repairs to the [maintenance item issue – TextBox] prior to the commencement of insurance repairs. (Related to checklist – any maintenance issues Y/N)

</br></br>
No maintenance issues to report relating to this claim. (Related to checklist – any maintenance issues Y/N)

</br>
<h4>Claim / Reason for Referral to Insurer:</h4>
<h5>Claim Recommendation</h5>

<select>
	<option value="1">The claim is recommended as Accept and as the claim is within our Authority Limit and the resultant damage is consistent with a fractured shower base we will proceed with the repairs. </option>
	<option value="1">The claim is submitted as “Unsure – Policy Coverage” as the damage sighted appears to be due to [Reason Why? - TextBox] and as a result we cannot determine policy coverage.</option>
	<option value="1">The damage to the fractured shower base appears to be due to [Reason Why? – TextBox] and as a result the claim is recommended as Do not accept – Not covered.</option>
	<option value="1">The claim is submitted as “Cancel Claim – Under Excess” as the damage sighted will cost less or is comparable in cost to the excess payable.</option>
	<option value="1">The claim is submitted as “Cancel Claim – Client wishes to withdraw the claim due to [Reason Why?) – TextBox].</option>
	<option value="1">The claim is submitted as “Cancel Claim – No Resultant Damage” as no building damage has been sustained as a result of water ingress.</option>
	<option value="1">The claim is submitted as “Accept – Review: Component of claim requires cash settlement” as the damage sighted is consistent with a fractured shower base however some of the damaged items consistent with the claim are recommended for cash settlement. A scope of works with these items along with a cash settlement figure has been provided separately. Costs provided include GST and builders margin.</option>
	<option value="1">The claim is submitted as “Accept – Review: Client seeks alternate settlement method” as the damage sighted is consistent with fractured shower base however the insured is seeking cash settlement for the claimed event.</option>

</select>
</br></br>
<input type="text" value="Reason Why...">
</br></br>

