
<h4>Festooning Garage Ceiling</h4>
<h4>Claimed Incident:</h4>
The garage ceiling has collapsed with the exact cause unknown.
</br>
<h4>Builders Assessment / Cause or Circumstances:</h4>
Inspection completed by <input type="text" placeholder="Name" ng-model="reportForm."> in the presence of 
<input type="text" placeholder="Name">
<h4>Relationship:</h4>
<select>
	<option value="1">The insured owner</option>
	<option value="2">The real estate agent</option>
	<option value="3">The tanent</option>
	<option value="4">Family friend</option>
	<option value="5">A relative of the insured</option>
</select>
other: <input type="text">

<p>We were directed to the area where the claimed damage had occurred.  Inspection of the property has revealed damage to the</p>

<select>
	<option value="1">garage ceiling.</option>
	<option value="1">roller door.</option>
	<option value="1">panel lift door.</option>
	<option value="1">[other – Textbox].</option>


</select>
other: <input type="text">

</br></br>
Ceiling Condition: 
</br>
<select>
	<option value="1">Inspection of the sagging garage ceiling revealed no obvious signs of any water ingress or staining.</option>
	<option value="1">Inspection of the collapsed garage ceiling revealed no obvious signs of any water ingress or staining.</option>

</select>

</br></br>
Roof Inspection: 
<select>
	<option value="1">Inspection of the roof above revealed it to be in excellent condition with no obvious maintenance or storm related damage sighted.</option>
	<option value="1">Inspection of the roof above revealed it to be in reasonable condition for its age with general wear and tear visible consistent with the age of the roof.</option>
	<option value="1">Inspection of the roof above revealed it to be in poor condition with obvious maintenance issues which need to be attended to by the insured consistent with general wear and tear due to the age of the roof.</option>


</select>

</br></br>

A makesafe has been carried out by Power Partners to temporarily secure the property. (Related to checklist – was a makesafe completed Y/N).
<
</br></br>
Contents: 
<select>
	<option value="1">No contents were damaged as a result of the claimed event</option>
	<option value="2">Contents have been damaged as a result of the claimed event</option>
</select>


</br></br>
<h4>Claim / Reason for Referral to Insurer:</h4>
<h5>Claim Recommendation</h5>

<select ng-model="reportForm.ReasonForReferral">
	<option value="1">The exact cause for the garage ceiling collapse is difficult to determine. It is likely due to a number of contributing factors.</option>
	<option value="1">The garage ceiling is subject to moisture, wind, vibrations due to the roller/panel door and combined with insufficient fixing of the perimeter of the ceiling these factors together can contribute to the collapse of the garage ceiling.</option>
	<option value="1">As a result the exact cause of the ceiling collapsed is unable to be established. A copy of the garage ceiling collapse and festooning report has been uploaded as an attachment for the insurer’s reference on the common issues found as a result of these ceiling collapses.</option>
	<option value="1">The claim is recommended as "Do Not Accept - Not Covered" as no defined claimable event appears to have taken place which has directly resulted in the failure of the garage ceiling.</option>


</select>
</br></br>
<input type="text" value="Reason Why...">
</br></br>

