
<h4>FIRE</h4>
<h4>Claimed Incident:</h4>
Damage has been sustained to the insured’s property as a result of fire.
</br>
<h4>Builders Assessment / Cause or Circumstances:</h4>
Inspection completed by Mr. Mukla.C in the presence of 
<input type="text">
<h4>Relationship:</h4>
<select>
	<option value="1">The insured owner</option>
	<option value="2">The real estate agent</option>
	<option value="3">The tanent</option>
	<option value="4">Family friend</option>
	<option value="5">A relative of the insured</option>
</select>
other: <input type="text">

<p>We were directed to the area where the claimed damage had occurred.  Inspection of the property has revealed damage to the</p>

<select>
	<option value="1">main dwelling</option>
	<option value="1">shed</option>
	<option value="2">kitchen area</option>
	<option value="3">bedroom</option>
	<option value="4">living area</option>
	<option value="5">roof</option>
	<option value="6">exterior</option>
	<option value="7">other</option>
</select>
other: <input type="text">

</br>
<h4>Causation of Fire:</h4>
<select>
	<option value="1">The fire appears to have started as a result of an electrical fault</option> 
	<option value="2">The fire appears to have started as a result of the insured leaving a pot on the stove which has ignited</option>
	<option value="3">The fire appears to have started due to [Reason why? – Textbox]</option>
	<option value="4">No obvious signs of a flame were sighted surrounding the area of damage</option>
</select>

</br>
<h4>Fire Birgade:</h4>
<select>
	<option value="1">The fire brigade have attended the property and extinguished the fire</option>
	<option value="2">The fire brigade were not called to the fire</option>
	<option value="3">The insured was able to extinguish the fire themselves</option>
	<option value="4">The insured advised no fire or flames were present as a result of the claimed event</option>

</select>

</br></br>

Contents: 
<select>
	<option value="1">No contents were damaged as a result of the claimed event</option>
	<option value="2">Contents have been damaged as a result of the claimed event</option>
</select>
</br></br>
A makesafe has been carried out by Power Partners to temporarily secure the property. (Related to checklist – was a makesafe completed Y/N).

</br></br>
The insured’s boundary fence was damaged during the claimed event. A cost has been provided to repair the boundary fence. Costs provided are 50% half share of the boundary fence and this component of the claim is recommended for cash settlement. (Related to neighbouring fence damaged in checklist) 

</br>
<h4>Maintanance</h4>
The insured will be responsible for carrying out necessary repairs to the [maintenance item issue – TextBox] prior to the commencement of insurance repairs. (Related to checklist – any maintenance issues Y/N)

</br></br>
No maintenance issues to report relating to this claim. (Related to checklist – any maintenance issues Y/N)

</br>
<h4>Claim / Reason for Referral to Insurer:</h4>
<h5>Claim Recommendation</h5>

<select>
	<option value="1">The sighted damage is consistent with fire and smoke damage and as such we are submitting the claim as accept.  As the damage is consistent with the claimed event and the value of repairs is within our Authority Limit, we will proceed with repairs</option>
	<option value="1">The claim is submitted as “Unsure – Policy Coverage” as the damage sighted appears to be due to [Reason Why? - TextBox] and as a result we believe the claim requires further investigation</option>
	<option value="1">The damage sighted did not appear to be consistent with fire damage and in our opinion due to [Reason Why? – TextBox] and as a result the claim is recommended as Do not accept – Not covered</option>
	<option value="1">The claim is submitted as “Cancel Claim – Under Excess” as the damage sighted will cost less or is comparable in cost to the excess payable</option>
	<option value="1">The claim is submitted as “Cancel Claim – Client wishes to withdraw the claim due to [Reason Why?) – TextBox]</option>
	<option value="1">The claim is submitted as “Cancel Claim – No Resultant Damage” as no building damage has been sustained as a result of the fire</option>
	<option value="1">The claim is submitted as “Accept – Review: Component of claim requires cash settlement” as the damage sighted is consistent with fire damage however some of the damaged items consistent with the claim are recommended for cash settlement. A scope of works with these items along with a cash settlement figure has been provided separately. Costs provided include GST and builders margin</option>
	<option value="1">The claim is submitted as “Accept – Review: Client seeks alternate settlement method” as the damage sighted is consistent with fire damage however the insured is seeking cash settlement for the claimed event</option>

</select>
</br></br>
<input type="text" value="Reason Why...">
</br></br>

