
<h4>MALICIOUS DAMAGE</h4>
<h4>Claimed Incident:</h4>
Malicious damage has been sustained to the insured’s property.
<h4>Builders Assessment / Cause or Circumstances:</h4>
Inspection completed by Mr. Mukla.C in the presence of 
<input type="text">
<h4>Relationship:</h4>
<select>
	<option value="1">The insured owner</option>
	<option value="2">The real estate agent</option>
	<option value="3">The tanent</option>
	<option value="4">Family friend</option>
	<option value="5">A relative of the insured</option>
</select>
other: <input type="text">

<p>We were directed to the area where the claimed damage had occurred.  Inspection of the property has revealed damage to the</p>

<select>
	<option value="1">interior of the property.</option>
	<option value="1">interior of the property.</option>
	<option value="1">exterior of the property.</option>
	<option value="1">various building items.</option>
	<option value="1">[other – Textbox].</option>




</select>
other: <input type="text">

</br>
<h4>Condition of Property:</h4>
<select>
	<option value="1">Inspection of the property has revealed damage as a result of a combination of malicious, poor housekeeping and general lack of maintenance/wear and tear. A scope of works for the items we believe to be consistent with malicious damage has been provided for the insurer’s information. A list of items we believe to fall outside malicious damage has been provided for your reference. </option>
	<option value="1">Inspection of the property has revealed damage sighted is consistent with malicious damage.</option> 
	<option value="1">Inspection of the property has revealed the damage sighted appears to be due to poor housekeeping and negligence rather than as a result of a malicious act.</option>
	<option value="1">Inspection of the property has revealed the damage sighted appears to be due to general wear and tear and not as a result of a malicious act.</option>

</select>
</br></br>


These items identified below were brought to our attention during the inspection and appear to be due to a combination of wear and tear, poor housekeeping or negligence and as a result have been omitted from the scope of works provided.
<select>
	<option value="1">[other – Textbox].</option>
</select>
</br></br>
</br>
<h4>Police Report:</h4>
<select>
	<option value="1">A copy of the Police Report was sighted on site Reference Number [(xyz12345) – TextBox].</option>
	<option value="1">A Police Report was not sighted but the insured did produce the Police Reference Number [(xyz12345) – TextBox]. </option>
	<option value="1">Victoria Police were not contacted regarding the incident.</option>
	<option value="1">A copy of the Police Report was not sighted during the inspection.</option>

</select>
</br>
</br>

Contents: 
<select>
	<option value="1">No contents were damaged as a result of the claimed event</option>
	<option value="2">Contents have been damaged as a result of the claimed event</option>
</select>
</br></br>
A makesafe has been carried out by Power Partners to temporarily secure the property. (Related to checklist – was a makesafe completed Y/N).

</br></br>
The insured’s boundary fence was damaged during the claimed event. A cost has been provided to repair the boundary fence. Costs provided are 50% half share of the boundary fence and this component of the claim is recommended for cash settlement. (Related to neighbouring fence damaged in checklist) 

</br>
<h4>Maintanance</h4>
The insured will be responsible for carrying out necessary repairs to the [maintenance item issue – TextBox] prior to the commencement of insurance repairs. (Related to checklist – any maintenance issues Y/N)

</br></br>
No maintenance issues to report relating to this claim. (Related to checklist – any maintenance issues Y/N)

</br>
<h4>Claim / Reason for Referral to Insurer:</h4>
<h5>Claim Recommendation</h5>

<select>
	<option value="1">The claim is recommended as Accept however due to the nature of the claimed event the claim has been submitted as “Unsure – Policy Coverage”.</option>
	<option value="1">The claim is submitted as “Unsure – Policy Coverage” as the damage sighted appears to be due to [Reason Why? - TextBox] and as a result we cannot determine policy coverage.</option>
	<option value="1">The damage sighted did not appear to be consistent with malicious damage and in our opinion due to [Reason Why? – TextBox] and as a result the claim is recommended as Do not accept – Not covered.</option>
	<option value="1">The claim is submitted as “Cancel Claim – Under Excess” as the damage sighted will cost less or is comparable in cost to the excess payable.</option>
	<option value="1">The claim is submitted as “Cancel Claim – Client wishes to withdraw the claim due to [Reason Why?) – TextBox].</option>
	<option value="1">The claim is submitted as “Cancel Claim – No Resultant Damage” as no building damage has been sustained as a result of the claimed event.</option>
	<option value="1"> The claim is submitted as “Accept – Review: Component of claim requires cash settlement” as the damage sighted is consistent with malicious damage however some of the damaged items consistent with the claim are recommended for cash settlement. A scope of works with this items along with a cash settlement figure has been provided separately. Costs provided include GST and builders margin. Due to the nature of the claimed event the claim has been submitted as “Unsure – Policy Coverage”.</option>
	<option value="1">The claim is submitted as “Accept – Review: Client seeks alternate settlement method” as the damage sighted is consistent with malicious damage however the insured is seeking cash settlement for the claimed event. Due to the nature of the claimed event the claim has been submitted as “Unsure – Policy Coverage”.</option>



</select>
</br></br>
<input type="text" value="Reason Why...">
</br></br>

